.button {
  cursor: pointer;
  user-select: none;
  width: 40%;
  font-size: 1.5rem;
  padding: .5rem;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #2f2f2f;
  color: #ffffff;
  border: 6px double #040f17;
  border-radius: 10px;
  text-shadow: 0 0 10px #ffffff;
  text-align: center;
  box-shadow: 3px 4px 4px 0px #504e4e;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:active {
  transform: translate(0, .3rem);
  box-shadow: 1px 0px 4px 0px #504e4e;
  transition: all 0.1s ease-in-out;
}