.game-hud {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  z-index: 10;
}

.game-hud #score {
  font-family: 'IBM Plex Mono', monospace;
  flex: 1;
  padding: 0px 10px;
  background-color: #2f2f2f;
  color: #ffffff;
  margin: 0;
  margin-right: 20px;
  border: 6px double #040f17;
  border-radius: 10px;
  text-shadow: 0 0 10px #ffffff;
  font-size: 2.5rem;
}

.flexrow{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#player-name{
  font-family: 'IBM Plex Mono', monospace;
  padding: 0px 10px;
  background-color: #2f2f2f;
  color: #ffffff;
  margin: 0;
  margin-right: 20px;
  border: 6px double #040f17;
  border-radius: 10px;
  text-shadow: 0 0 10px #ffffff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  width: 100%;
}