.restart {
  justify-content: center;
  width: 66px;
  height: 40%;
  align-self: flex-end;
  background-color: #848484;
  border: 6px double #040f17;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0px 0px #fff;
  transition: all 0.1s ease-in-out;
}

.restart:active {
  transform: scale(0.9);
  box-shadow: inset 0px 0px 6px 9px #6c6c6c;
  transition: all 0.1s ease-in-out;
}

#restartIcon {
  color: #040f17;
  height: 68%;
  width: 60%;
  z-index: -10;
  padding: 9px 0px;
}
