.score-board {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  z-index: 10;
}

.score-board h1 {
  font-family: 'IBM Plex Mono', monospace;
  flex: 1;
  padding: 0px 10px;
  background-color: #2f2f2f;
  color: #ffffff;
  margin: 0;
  margin-right: 20px;
  border: 6px double #040f17;
  border-radius: 10px;
  text-shadow: 0 0 10px #ffffff;
}